:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
}

.spacer {
  flex: 1;
}

.toolbar {
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #0b3e84;
  color: white;
  font-weight: 600;
}

.toolbar #dark-theme-icon {
  height: 35px;
  margin: 0 16px;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.my-dark-theme {
  background-color: #1b1a1a;
  color: white;

  .toolbar {
    background-color: #151515;
  }
}
